.news-container {
  padding: 1rem 5rem;

  .news-info {
    border: 1px solid lightgray;
    padding: 1rem;
    width: 70%;
    margin: 0.5rem 0;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    > a {
      text-decoration: none;
      > h4 {
        color: black;
        font-size: 1.2rem;
        padding: 0.5rem 0;
      }
      > p {
        color: #333;
        padding: 0.3rem 0;
      }
      > h6 {
        color: crimson;
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 700px) {
  .news-container {
    padding: 1rem;
    .news-info {
      width: 100%;
    }
  }
}
